<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ifsp.conpat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.aquisicaoStepOneActivity" />
        <activity android:name=".presentation.departamentoActivity" />
        <activity android:name=".presentation.MainActivity" />
        <activity android:name=".presentation.aquisicaoStepTwoActivity" />
        <activity android:name=".presentation.pesquisaActivity" />
        <activity android:name=".presentation.numeroSerieActivity" />
        <activity android:name=".presentation.resultadoBuscaActivity"></activity>
    </application>

</manifest>